* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.font
{
    font-family: 'Clash Display', sans-serif;
}


.color
{
    color: #FF5555;
}
.premium-img
{
    background-image: url('images/2-removebg-preview.png');
}